/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body con flex para empujar footer al fondo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #1E3A8A; /* Azul oscuro */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    font-size: 20px;
    font-weight: bold;
}

header nav a {
    background-color: #3B82F6; /* Celeste */
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

header nav a:hover {
    background-color: #2563EB; /* Azul más fuerte al pasar el mouse */
}

/* Layout principal */
main {
    display: flex;
    flex: 1; /* ocupa todo el espacio disponible */
}

aside {
    width: 20%;
    background-color: #F3F4F6; /* Gris claro */
}

section {
    flex: 1;
    background-color: #E5E7EB; /* Blanco humo */
    padding: 20px;
}

/* Footer */
footer {
    background-color: #111827; /* Gris oscuro */
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}


