<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShop</title>
    <!-- Ajustamos el nombre del archivo CSS -->
    <link rel="stylesheet" href="estilosTechShop.css">
</head>
<body>
    <header>
        <h1>TechShop</h1>
        <nav>
            <a href="#">Mis Autos</a>
            <a href="#">Multimedia</a>
            <a href="#">iFrames</a>
        </nav>
    </header>

    <main>
        <aside>
            <!-- Aquí puedes poner menú lateral, categorías, etc. -->
        </aside>
        <section>
            <p><strong>Esta es la tienda en línea del curso</strong></p>
        </section>
    </main>

    <footer>
        <p>Todos los Derechos Reservados. TechShop 2025 &copy;</p>
    </footer>
</body>
</html>
